.App {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 7px 1rem;
}

.book-list {
  padding: 1rem;
  background-color: #f7f5f5;
}

.book-list h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.book-list ul {
  list-style: none;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.3rem;
}

.book-list li {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  overflow: hidden;
}

.book-list li img {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.book-list li h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.book-list li p {
  color: #888;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
